<%- include('../admin/partials/head.ejs') -%>


<%- include('../admin/partials/header.ejs') -%>
<div class="d-flex" style="display: flex;">
<div class="hea"><%- include('../admin/partials/nav.ejs') -%></div>
<div class="heavhgnvbn" style="width: 100%;"><br><br><br><br>



<div class="container">
  <style>
    .add-category-button {
      background-color: rgb(131, 138, 131);
      color: rgb(248, 242, 242);
      font-weight: bold;
      border: none;
      padding: 12px 20px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      float: right; /* add this line */
    }
    table {
    margin-top: 8rem;
  }
 
  </style>
 <a href="/admin/addCategory">
    <button type="button" class="btn btn-outline-secondary add-category-button">
      Add Category
    </button>
  </a>
  
  <style>
    .add-category-button {
      border-color: #214229;
      color: #0e3617;
      transition: all 0.2s ease-in-out;
    }
  
    .add-category-button:hover {
      background-color: #546257;
      color: #fff;
    }
  </style>
  
</div class="mt-5">

<table class="table table-striped table-dark mt-5">

  <thead>
    <tr style="border-width: 5px; background-color: rgb(47, 37, 37);" >
      <th scope="col">No</th>
      <th scope="col">Category</th>
      <th scope="col">Gender</th>
      <th scope="col">Description</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
    <% categorys.forEach((item ,index)=> { %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= item.category %></td>
      <td><%= item.gender %></td>
      <td><%= item.description %></td>
     
      
      <td>
        <div style="display: flex;">
            <div>

           
          <a href="/admin/editCategory/<%=item._id%>" class="btn btn-primary ">Edit</a>
        </div>

        <div style="margin-left: 20px;">
        <% if(item.isListed){ %>
            <button class="btn btn-danger block-button" data-id="<%= item._id %>">
              Block
            </button>
      
            <% } else {%>
            <button class="btn btn-primary block-button" data-id="<%= item._id %>">
              UnBlock
            </button>
         <%   }%>
        </div>
        </div>
      </td>

    </tr>
    <% }) %>


    <script>
        const blockButtons = document.querySelectorAll('.block-button');
        blockButtons.forEach(blockButton => {
          const itemId = blockButton.dataset.id;
          blockButton.addEventListener('click', () => {
            const url = blockButton.classList.contains('btn-danger')
              ? `/admin/blocks/${itemId}`
              : `/admin/unBlocks/${itemId}`;
            blockButton.textContent = blockButton.classList.contains('btn-danger')
              ? 'Unblock'
              : 'Block';
            blockButton.classList.toggle('btn-danger');
            blockButton.classList.toggle('btn-primary');
            fetch(url).catch(console.error);
          });
        });
      </script>




  </tbody>
</table>

</div>
</div>
<%- include('../admin/partials/script.ejs') -%>
