<head>
  <!-- Add this inside the <head> tag of your HTML file -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<%- include('../admin/partials/head.ejs') -%>


<%- include('../admin/partials/header.ejs') -%>
<div class="d-flex" style="display: flex;">
<div class="hea"><%- include('../admin/partials/nav.ejs') -%></div>
<div class="heavhgnvbn" style="width: 100%;"><br><br><br><br>


<div style="padding-left: 30px; padding-right: 30px;">
  <a href="/admin/addCategory">
    <button type="button" class="btn btn-outline-secondary add-category-button">
      Add Category
    </button>
  </a>
<div class="container">

  <style>
    .add-category-button {
      background-color: rgb(131, 138, 131);
      color: rgb(248, 242, 242);
      font-weight: bold;
      border: none;
      padding: 12px 20px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      float: right; /* add this line */
    }
    table {
    margin-top: 8rem;
  }
 
  </style>
 
  
  
  <style>
    .add-category-button {
      border-color: #78937f;
      color: #0e3617;
      transition: all 0.2s ease-in-out;
    }
  
    .add-category-button:hover {
      background-color: #546257;
      color: #fff;
    }
  </style>
  
</div class="mt-5">

<table class="table table-striped table-dark mt-5" id="myTable">

  <thead>
    <tr style="border-width: 5px; background-color: rgb(47, 37, 37);" >
      <th scope="col">No</th>
      <th scope="col">Category</th>
      <th scope="col">Gender</th>
      <th>Image</th>
      <th scope="col">Description</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
    <% categorys.forEach((item ,index)=> { %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= item.category %></td>
      <td><%= item.gender %></td>
      <td>
        <% if (item.images && item.images.length > 0) { %>
          <img
            style="width: 50px; height: 50px"
            src="/uploads/<%= item.images[0] %>"
            alt=""
          />
        <% } %>
      </td>
      <td><%= item.description %></td>
     
      
      <td>
        <div style="display: flex;">
            <div>

           
          <a href="/admin/editCategory/<%=item._id%>" class="btn btn-primary ">Edit</a>
        </div>

        <div style="margin-left: 20px;">
        <% if(item.isListed){ %>
            <button class="btn btn-danger block-button" data-id="<%= item._id %>">
              Block
            </button>
      
            <% } else {%>
            <button class="btn btn-primary block-button" data-id="<%= item._id %>">
              UnBlock
            </button>
         <%   }%>
        </div>
        </div>
      </td>

    </tr>
    <% }) %>


    <script>
     const blockButtons = document.querySelectorAll('.block-button');
blockButtons.forEach(blockButton => {
  const itemId = blockButton.dataset.id;
  blockButton.addEventListener('click', () => {
    const url = blockButton.classList.contains('btn-danger')
      ? `/admin/blocks/${itemId}`
      : `/admin/unBlocks/${itemId}`;
    const confirmationText = blockButton.classList.contains('btn-danger')
      ? 'Are you sure you want to unblock this item?'
      : 'Are you sure you want to block this item?';
      
    Swal.fire({
      title: 'Confirmation',
      text: confirmationText,
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes',
      cancelButtonText: 'Cancel',
      customClass: {
        confirmButton: 'swal-button swal-button--confirm',
        cancelButton: 'swal-button swal-button--cancel',
      },
    }).then((result) => {
      if (result.isConfirmed) {
        blockButton.textContent = blockButton.classList.contains('btn-danger')
          ? 'Unblock'
          : 'Block';
        blockButton.classList.toggle('btn-danger');
        blockButton.classList.toggle('btn-primary');
        fetch(url).catch(console.error);
        
        // Show success message after the action is completed
        Swal.fire({
          title: 'Success',
          text: 'Action completed successfully!',
          icon: 'success',
          confirmButtonColor: '#3085d6',
          confirmButtonText: 'OK',
          customClass: {
            confirmButton: 'swal-button swal-button--confirm',
          },
        });
      }
    });
  });
});

      </script>




  </tbody>
</table>
</div>
</div>
</div>
<%- include('../admin/partials/script.ejs') -%>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script>
  $(document).ready( function () {
$('#myTable').DataTable();
} );
</script>