<!-- Include SweetAlert2 library -->
<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
		
	<!-- <a href="/savedAddress"><button type="button" class="btn btn-primary" id="add-address-btn">Change/Add New
		Address</button></a> -->
	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50" >
					<div class="m-l-25 m-r--38 m-lr-0-xl" style="width: 900px;" >
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<thead>
								  <tr class="table_head">
									<th class="column-1"  style="text-align: center;">Product</th>
									<th class="column-2"  style="text-align: center;"></th>
									<th class="column-3"  style="text-align: center;">Size</th>
									<th class="column-4" style="text-align: center;">Price</th>

									<th class="column-5"  style="text-align: center;">Quantity</th>
									<th class="column-5"  style="text-align: center;">Total</th>
									<th class="column-6"  style="text-align: center;">Option</th>
								  </tr>
								</thead>
								<tbody>
								  <% cartItems.forEach(item => { %>
								  <tr class="table_row product-data">
									<td class="column-1">
									  <div class="how-itemcart1">
										<img src="/uploads/<%= item.productInfo.images[0] %>" alt="IMG">
									  </div>
									</td>
									<td class="column-2"><%= item.productInfo.name %></td>
									<td class="column-3" style="text-align: center;"><%= item.size %></td>


									<td id="productSinglePrice" class="column-4 salesproductprice" style="text-align: center;">₹<%= item.currentPrice %></td>



									<td class="column-5 neeprice">
									  <div class="total" style="display: 0; align-items: center;">
										<button type="button" class="btn btn-info decrement-button" style="width: 30px; height: 31px !important; border-radius: 0; margin-right: 5px;"
										  onclick="changeQuantity('<%=item._id%>','<%=item.unique_id%>','<%= user._id %>',-1,'<%= item.currentPrice%>')">-</button>
										<b id="<%=item.unique_id%>" style="margin-right: 5px;"><%= item.quantity %></b>
										<button type="button" class="btn btn-info increment-button" style="width: 30px; height: 31px !important; border-radius: 0;"
										  onclick="changeQuantity('<%=item._id%>','<%=item.unique_id%>','<%= user._id %>',1,'<%= item.currentPrice%>')">+</button>
									  </div>
									</td>
									<td class="column-5 product-total-parent" style="text-align: center;"><p class="<%= item.unique_id %>" class="column-6 product-total-price">₹<%=item.quantity*item.currentPrice %></p></td>
									<td class="column-6 category">
									  <button type="button" class="btn btn-danger" style="width: 87px; height: 31px !important; border-radius: 0;"
										onclick="removeItem('<%=item._id%>','<%=item.unique_id%>','<%=user._id%>')">Remove</button>
									</td>
								  </tr>
								  <% }) %>
								</tbody>
							  </table>
							  
						</div>

						
					</div>
				</div>




				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
							</div>

							<div class="size-209">
								<span id="totalPrice" class="mtext-110 cl2">
									₹<%= locals.subtotal %>
								</span>
							</div>
						</div>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Tax:
								</span>
							</div>

							<div class="size-209">
								<span id="adTax" class="mtext-110 cl2">
									₹<%= locals.tax %>
								</span>
							</div>
						</div>

						<div class="flex-w flex-t bor12 p-t-15 p-b-30">
							<div class="size-208 w-full-ssm">
								<span class="stext-110 cl2">
									Shipping:
								</span>
							</div>

							<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
								<p class="stext-111 cl6 p-t-2">
									There are no shipping methods available. Please double check your address, or contact us if you need any help.
								</p>
								
								<!-- <div class="p-t-15">
									
									
									<div class="flex-w">
										<div class="flex-c-m stext-101 cl2 size-115 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer">
											Update Totals
										</div>
									</div>
										
								</div> -->
							</div>
						</div>

						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									<% if (total.length) { %>
										<span id="taxWithTotal">₹<%=locals.totalWithTax %></span>
										<% }else{ %>
			
											<span id="total">0</span>
			
											<% } %>
								</span>
							</div>
						</div>
						<p class="text-center"><a href="/address" class="btn btn-primary py-3 px-4">Proceed to Checkout</a>
						</p>
						<!-- <a
						 href="/address"><button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Proceed to Checkout
						</button></a> -->
					</div>
				</div>
			</div>
		</div>
	</form>
		
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	

	<script>	



 

	function changeQuantity(cartId, proId, userId, count, salePrice) {
		let quantity = document.getElementById(proId).innerHTML
		quantity = parseInt(document.getElementById(proId).innerHTML);
		count = parseInt(count)
		
		
		
		
		console.log(count)
		$.ajax({
			url: '/changeProductQuantity',
			data: {
				cart: cartId,
				product: proId,
				user: userId,
				count: count,
				quantity: quantity
			},
			method: 'post',
			success: (response) => {

				if (response.removeProduct) {
					console.log('///////////////')
					
					$('tr[data-product-id="' + proId + '"]').remove();

					// document.getElementById('totalPrice').innerHTML ="₹" + response.subtotal;
					// document.getElementById('adTax').innerHTML ="₹" + response.tax;
					// document.getElementById('taxWithTotal').innerHTML ="₹" + response.totalWithTax;

					Swal.fire({
						icon: 'success',
						title: 'Item removed',
						timer: 2000 // Set a timer to automatically close the message after 2 seconds
					}).then(() => {
						location.reload(); // Reload the page
					});


				} else {

					
					// console.log(response)
					// console.log(carttotal)
					document.getElementById(proId).innerHTML = quantity + count;
					var totalproductqt = quantity + count
					var carttotal = totalproductqt * parseInt(salePrice)

					document.getElementById('totalPrice').innerHTML ="₹" + response.total[0].total;
					
					// $('.product-total-price').html(carttotal)
					console.log(carttotal,"xxxxxxxxxxxxxxxxxxxxxxxxxxxx")
					

					$("."+proId).html("₹"+carttotal)
					console.log()
					//   $(".product-total-price").first().html(carttotal);
					
					document.getElementById('adTax').innerHTML ="₹" + response.total[0].totalTax;
					document.getElementById('taxWithTotal').innerHTML ="₹" + response.total[0].totalWithTax;


				}



			},
		});
	}





function removeItem(cartId, proId, userId) {
    Swal.fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
        }).then((result) => {
          if (result.isConfirmed) {
          $.ajax({
            url: "/removeItem",
            data: {
              cart: cartId,
              product: proId,
              user: userId,
            },
            method: "post",
            success: (response) => {
              console.log("ffaffaffa");
              $('tr[data-product-id="' + proId + '"]').remove();

              
            },
          });
            
            Swal.fire("Deleted!", "Your item has been deleted.", "success");
            location.reload(); // Reload the page
          } else if (result.dismiss === Swal.DismissReason.cancel) {
            $('tr[data-product-id="' + proId + '"]').insertAfter(
              $("tr[data-product-id]").last()
            );
          }
        });

    
  }



</script>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
<!-- Include SweetAlert2 library -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>
</body>
</html>