<head>
  <link rel="stylesheet" href="/magiczoomplus/magiczoomplus.css">
  <script src="/magiczoomplus/magiczoomplus.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  
  
</head>
<style>
    

    .active {
        background-color: red;
    }
  
	.size-btn {
		background-color: transparent;
		border: 1px solid #ccc;
		color: #333;
		cursor: pointer;
		font-size: 16px;
		margin: 0 5px;
		padding: 10px 20px;
		transition: all 0.3s ease;
	}

	.size-btn:hover {
		background-color: #333;
		color: #fff;
	}

	.size__btn {
		display: flex;
		flex-wrap: nowrap;
		/* prevents buttons from wrapping to next line */
		width: 180px;
		/* adjust the width to fit all the buttons */
	}

	.size-btn {
		border-radius: 20px;
		/* make the buttons round */
		background-color: #e5e5e5;
		/* set the background color */
		color: #333;
		/* set the text color */
		font-size: 14px;
		/* adjust the font size if needed */
		padding: 5px 10px;
		/* adjust the padding if needed */
		margin-right: 10px;
		/* add some spacing between buttons */
	}

	.size-btn:hover {
		background-color: #ccc;
		/* change the background color on hover */
		cursor: pointer;
		/* show the pointer cursor on hover */
	}

	.size-btn.active {
		background-color: #fff;
		color: #555;
		border-color: #555;
		border-radius: 20px;
		box-shadow: 0px 0px 0px 2px #555;
	}
  .btn-group-toggle div {
  margin-bottom: 5px;
}

    .product-images {
      display: flex;
    }
    /* .btn-group-toggle label.btn.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
} */

    .small-images {
      display: flex;
      flex-direction: column;
    }
  
    .large-image {
      margin-left: 20px;
      position: relative;
      overflow: hidden;
      margin-top: 16px;
    }
  
    .large-image img {
      transition: all 0.3s ease-out;
    }
  
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 1;
      opacity: 0;
      transition: all 0.3s ease-out;
    }
  
    .large-image:hover img {
      transform: scale(1.2);
    }
    /* Define the black-button class */


  
    /* .large-image:hover .overlay {
      opacity: 1;
    } */
  </style>
  



<section class="ftco-section" style="height: 730px;">
    <div class="container" >
        <div class="row" style="height: 730px;border-color: #555;">
         
              
              <div class="col-lg-6 mb-5 ftco-animate">
                <div class="product-images">
                  <div class="small-images" style="height: 100px;width: 121px;">
                    <a href="/uploads/<%=singleProduct.images[0]%>" class="MagicZoom small-image" data-options="zoomWidth:400px; zoomHeight:400px">
                      <img style="width:100px; height: auto;" src="/uploads/<%=singleProduct.images[0]%>" alt="Product Image" class="pt-3">
                    </a>
                    <a href="/uploads/<%=singleProduct.images[1]%>" class="MagicZoom small-image" data-options="zoomWidth:400px; zoomHeight:400px">
                      <img style="width:100px; height: auto;" src="/uploads/<%=singleProduct.images[1]%>" alt="Product Image" class="pt-3">
                    </a>
                    <a href="/uploads/<%=singleProduct.images[2]%>" class="MagicZoom small-image" data-options="zoomWidth:400px; zoomHeight:400px">
                      <img style="width:100px; height: auto;" src="/uploads/<%=singleProduct.images[2]%>" alt="Product Image" class="pt-3">
                    </a>
                    <a href="/uploads/<%=singleProduct.images[3]%>" class="MagicZoom small-image" data-options="zoomWidth:400px; zoomHeight:400px">
                      <img style="width:100px; height: auto;" src="/uploads/<%=singleProduct.images[3]%>" alt="Product Image" class="pt-3">
                    </a>
                  </div>
                  <div class="large-image" style="margin-top: 15px;">
                    <a href="/uploads/<%=singleProduct.images[0]%>" class="MagicZoom" data-options="zoomPosition: inner">
                      <img style="height: 684px;" data-hash="product-1" class="product_big_img" src="/uploads/<%=singleProduct.images[0]%>" alt="" id="largeImage">
                    </a>
                  </div>
                </div>
              </div>
           


              <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                  <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                    <%= singleProduct.name %>
                  </h4>
      
                  <span class="mtext-106 cl2">
                    $<%= singleProduct.price %>
                  </span>
      
                  <p class="stext-102 cl3 p-t-23">
                    <%= singleProduct.description %>
                  </p>
                  
                  <!--  -->
                  <div class="p-t-33">
                    <h4>Select a Size:</h2>
                    <div class="flex-w flex-r-m p-b-10">
                      <!-- <div class="size-203 flex-c-m respon6">
                        Size
                      </div> -->
      
                      <div class="container" style="margin-left:63px;">
                       
                          <br> <br>
                     <div class="size__btn ">
										<button id="s-btn" class="size-btn">S</button>
										<button id="m-btn" class="size-btn">M</button>
										<button id="l-btn" class="size-btn">L</button>
										<button id="xl-btn" class="size-btn">XL</button>
										<button id="xxl-btn" class="size-btn">XXL</button>
									</div>
                          
                          
                      </div>
                      
                    </div>
      
                    
                    <br> <br>
                    <div class="flex-w flex-r-m p-b-10">
                      <div class="size-204 flex-w flex-m respon6-next">
                        <!-- <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                          <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                            <i class="fs-16 zmdi zmdi-minus"></i>
                          </div>
      
                          <input class="mtext-104 cl3 txt-center num-product" id="cartCount" type="number" name="num-product" value="1">
      
                          <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                            <i class="fs-16 zmdi zmdi-plus"></i>
                          </div>
                        </div> -->
                        <input type="text" id="hiddenId" value="<%=singleProduct._id%>"hidden>
                        <button id="clicz"  onclick="addToCart('<%=singleProduct._id %>','<%= singleProduct.name %>')" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 jsi-addcart-detail">
                          Add to cart
                        </button>
                      </div>
                    </div>	
                  </div>
      
                
                  
                </div>
              
            </div>
         









        </div>
        </div>
      </div>
    </div>
    </div>
</section>
<br>
<hr>
<br>

<div class="row isotope-grid container-fluid " >
				
  <%for(i=0;i<products.length;i++){%>
    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img src="/uploads/<%= products[i].images[0] %>" alt="IMG-PRODUCT">
          <a href="/oneproduct/<%= products[i].id %>" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
            Quick View
          </a>
        </div>
        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l ">
            <a href="/product-detail" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              <%= products[i].name %>								</a>
            <span class="stext-105 cl3">
              <%= products[i].price %>	
            </span>
          </div>
          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="/images/icons/icon-heart-01.png" alt="ICON">
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="/images/icons/icon-heart-02.png" alt="ICON">
            </a>
          </div>
        </div>
      </div>
    </div>
    <%}%>				
  </div>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>





<script>




  function showAlertWithDelay(ccc) {
  // show the alert with a timer of 2 seconds
  swal({
    title: "Done",
    text: ccc+" added to cart ",
    icon: "success",
    timer: 2000,
    buttons: false,
    allowOutsideClick: false,
  });
}
// setTimeout(showAlertWithDelay, 3000);

    const smallImages = document.querySelectorAll('.small-images img');
    const largeImage = document.querySelector('.large-image img');
    const overlay = document.createElement('div');
    overlay.classList.add('overlay');
    largeImage.parentElement.appendChild(overlay);
    smallImages.forEach((img, index) => {
      img.addEventListener('mouseover', () => {
        const imgSrc = img.getAttribute('src');
        largeImage.setAttribute('src', imgSrc);
      });
    });





    //////////////////////////////////////////////////////////////////////////////////////////////////
 

  // function addToCart(proId,abc) {
  //   console.log("hgfhjgrjuhgfuhgfuthjth");
	// 	const activeBtn = $('.size-btn.active');
	// 	const size = $('.size-btn.active').text();
		
	// 		$.ajax({
	// 			url: `/addtoCart/${proId}/?size=${size}`,
	// 			method: 'get',
	// 			success: (response) => {
	// 				// alert(response)
	// 				let count = $('#cartCount').html()
	// 				count = parseInt(count) + 1
	// 				$('#cartCount').html(count)

	// 				console.log(typeof (count))
	// 				console.log(count, 'countttt')
  //         showAlertWithDelay(abc)
				
	// 			}
	// 		})
	// }




	function showLoader() {
		document.getElementById("loader").style.visibility = "visible";
	}

	function hideLoader() {
		document.getElementById("loader").style.visibility = "hidden";
	}

	$('.size-btn').click(function () {
		$(this).toggleClass('active').siblings().removeClass('active');
		const size = $(this).text();
		console.log(`Selected size: ${size}`);
	});

	$(document).ready(function () {
		$('.size-btn').click(function () {
			showLoader()
			var size = $(this).text(); // Get the size from the button's text
			let proId = document.getElementById('hiddenId').value;
			console.log(proId, 'hidden')
			console.log(size)
			$.ajax({
				url: `/product-size-selector/${size}/?proId=${proId}`,
				type: 'get',
				success: (response) => {
					if (response) {
						let prev = $('.cart-btn').html();
						$('.cart-btn').html('<span class="icon_bag_alt"></span> Go to cart');
						$('.cart-btn').attr('onclick', 'window.location.href="/cart"');
						hideLoader()
					} else {
						$('.cart-btn').html('<span class="icon_bag_alt"></span> Add to cart');
						$('.cart-btn').attr('onclick', 'addToCart("' + proId + '")');

						hideLoader()
					}
				}

			});
		});
	});

	function addToCart(proId,abc) {
		const activeBtn = $('.size-btn.active');
		const size = $('.size-btn.active').text();
    console.log(proId);
		if (activeBtn.length > 0) {
     // alert('rdtfyghuij');
			$.ajax({
				url: `/addtoCart/${proId}/?size=${size}`,
				method: 'get',
				success: (response) => {
					 //alert(response)
					let count = $('#cartCount').html()
         
          count = parseInt(count) + 1

          console.log(count,"kfdghfdgjhgfdghgfdghjkhgfhkjgfdghgfdgh");
					$('#cartCount').html(count)

					console.log(typeof (count))
					console.log(count, 'countttt')
          showAlertWithDelay(abc)
		
				}
			})
		} else {
      swal({
            title: "size  not selected",
            text: "Please select a size to proceed.",
            icon: "error",
            button: "OK",
          });
		}

	}

///////////////////////////////////////////////////////////////








    document.addEventListener('DOMContentLoaded', function() {
var smallImages = document.getElementsByClassName('small-image');
for (var i = 0; i < smallImages.length; i++) {
smallImages[i].addEventListener('click', function() {
  var imgSrc = this.getAttribute('data-imgsrc');
  var largeImage = document.getElementById('largeImage');
  largeImage.src = imgSrc;
  new MagicZoom(largeImage);
});
}
});
  </script>





<script>
$('input[name="size"]').on('change', function() {
  $('label.btn').removeClass('active');
  $(this).parent().addClass('active');
});



</script>



































































<!--===============================================================================================-->	
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/slick/slick.min.js"></script>
	<script src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
  
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <script>
      $(".js-select2").each(function(){
        $(this).select2({
          minimumResultsForSearch: 20,
          dropdownParent: $(this).next('.dropDownSelect2')
        });
      })
    </script>
  <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/slick/slick.min.js"></script>
    <script src="js/slick-custom.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/parallax100/parallax100.js"></script>
    <script>
          $('.parallax100').parallax100();
    </script>
  <!--===============================================================================================-->
    <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
      $('.gallery-lb').each(function() { // the containers for all your galleries
        $(this).magnificPopup({
              delegate: 'a', // the selector for gallery item
              type: 'image',
              gallery: {
                enabled:true
              },
              mainClass: 'mfp-fade'
          });
      });
    </script>
  <!--===============================================================================================-->
    <script src="vendor/isotope/isotope.pkgd.min.js"></script>
  <!--===============================================================================================-->
   

    <script>
      $('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
        e.preventDefault();
      });
  
      $('.js-addwish-b2').each(function(){
        var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
        $(this).on('click', function(){
          swal(nameProduct, "is added to wishlist !", "success");
  
          $(this).addClass('js-addedwish-b2');
          $(this).off('click');
        });
      });
  
      $('.js-addwish-detail').each(function(){
        var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();
  
        $(this).on('click', function(){
          swal(nameProduct, "is added to wishlist !", "success");
  
          $(this).addClass('js-addedwish-detail');
          $(this).off('click');
        });
      });
  
      /*---------------------------------------------*/
  
    
    
    </script>
  <!--===============================================================================================-->
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
      $('.js-pscroll').each(function(){
        $(this).css('position','relative');
        $(this).css('overflow','hidden');
        var ps = new PerfectScrollbar(this, {
          wheelSpeed: 1,
          scrollingThreshold: 1000,
          wheelPropagation: false,
        });
  
        $(window).on('resize', function(){
          ps.update();
        })
      });
    </script>
  <!--===============================================================================================-->
    <script src="js/main.js"></script>
  
  
  </body>
  </html>