<head>
  <link rel="stylesheet" href="/magiczoomplus/magiczoomplus.css">
  <script src="/magiczoomplus/magiczoomplus.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
</head>
<style>
    .product-images {
      display: flex;
    }
    .btn-group-toggle label.btn.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

    .small-images {
      display: flex;
      flex-direction: column;
    }
  
    .large-image {
      margin-left: 20px;
      position: relative;
      overflow: hidden;
      margin-top: 16px;
    }
  
    .large-image img {
      transition: all 0.3s ease-out;
    }
  
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 1;
      opacity: 0;
      transition: all 0.3s ease-out;
    }
  
    .large-image:hover img {
      transform: scale(1.2);
    }
    /* Define the black-button class */


  
    /* .large-image:hover .overlay {
      opacity: 1;
    } */
  </style>
  
 <!-- Cart -->
 <%- include('../user/sideCart.ejs') -%>


<section class="ftco-section" style="height: 730px;">
    <div class="container" >
        <div class="row" style="height: 730px;">
         
              
              <div class="col-lg-6 mb-5 ftco-animate">
                <div class="product-images">
                  <div class="small-images" style="height: 100px;width: 121px;">
                    <a href="/uploads/<%=singleProduct.images[0]%>" class="MagicZoom small-image" data-options="zoomWidth:400px; zoomHeight:400px">
                      <img style="width:100px; height: auto;" src="/uploads/<%=singleProduct.images[0]%>" alt="Product Image" class="pt-3">
                    </a>
                    <a href="/uploads/<%=singleProduct.images[1]%>" class="MagicZoom small-image" data-options="zoomWidth:400px; zoomHeight:400px">
                      <img style="width:100px; height: auto;" src="/uploads/<%=singleProduct.images[1]%>" alt="Product Image" class="pt-3">
                    </a>
                    <a href="/uploads/<%=singleProduct.images[2]%>" class="MagicZoom small-image" data-options="zoomWidth:400px; zoomHeight:400px">
                      <img style="width:100px; height: auto;" src="/uploads/<%=singleProduct.images[2]%>" alt="Product Image" class="pt-3">
                    </a>
                    <a href="/uploads/<%=singleProduct.images[3]%>" class="MagicZoom small-image" data-options="zoomWidth:400px; zoomHeight:400px">
                      <img style="width:100px; height: auto;" src="/uploads/<%=singleProduct.images[3]%>" alt="Product Image" class="pt-3">
                    </a>
                  </div>
                  <div class="large-image" style="margin-top: 15px;">
                    <a href="/uploads/<%=singleProduct.images[0]%>" class="MagicZoom" data-options="zoomPosition: inner">
                      <img style="height: 646px;" data-hash="product-1" class="product_big_img" src="/uploads/<%=singleProduct.images[0]%>" alt="" id="largeImage">
                    </a>
                  </div>
                </div>
              </div>
           


              <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                  <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                    <%= singleProduct.name %>
                  </h4>
      
                  <span class="mtext-106 cl2">
                    $<%= singleProduct.price %>
                  </span>
      
                  <p class="stext-102 cl3 p-t-23">
                    <%= singleProduct.description %>
                  </p>
                  
                  <!--  -->
                  <div class="p-t-33">
                    <div class="flex-w flex-r-m p-b-10">
                      <!-- <div class="size-203 flex-c-m respon6">
                        Size
                      </div> -->
      
                      <div class="container" style="margin-left:63px;">
                        <h2>Select a Size:</h2>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-secondary active">
                            <input type="radio" name="size" value="S" checked> S
                          </label>
                          <label class="btn btn-secondary">
                            <input type="radio" name="size" value="M"> M
                          </label>
                          <label class="btn btn-secondary">
                            <input type="radio" name="size" value="L"> L
                          </label>
                          <label class="btn btn-secondary">
                            <input type="radio" name="size" value="XL"> XL
                          </label>
                          <label class="btn btn-secondary">
                            <input type="radio" name="size" value="XXL"> XXL
                          </label>
                        </div>
                      </div>
                      
                    </div>
      
                    
      
                    <div class="flex-w flex-r-m p-b-10">
                      <div class="size-204 flex-w flex-m respon6-next">
                        <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                          <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                            <i class="fs-16 zmdi zmdi-minus"></i>
                          </div>
      
                          <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">
      
                          <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                            <i class="fs-16 zmdi zmdi-plus"></i>
                          </div>
                        </div>
      
                        <button id="clicz"  onclick="addToCart('<%=singleProduct._id %>')" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                          Add to cart
                        </button>
                      </div>
                    </div>	
                  </div>
      
                
                  
                </div>
              
            </div>
         









        </div>
        </div>
      </div>
    </div>
    </div>
</section>
    

<button id="click">Click me!</button>



<script>
document.getElementById("clicz").addEventListener("clicz", function() {
  swal({
    title: "Button Clicked",
    text: "You clicked the 'click' button!",
    icon: "success",
    button: "OK",
  });
});
</script>

<script>
  const smallImages = document.querySelectorAll('.small-images img');
  const largeImage = document.querySelector('.large-image img');
  const overlay = document.createElement('div');
  overlay.classList.add('overlay');
  largeImage.parentElement.appendChild(overlay);
  smallImages.forEach((img, index) => {
    img.addEventListener('mouseover', () => {
      const imgSrc = img.getAttribute('src');
      largeImage.setAttribute('src', imgSrc);
    });
  });


  function addToCart(proId) {
  $.ajax({
    url: `/addtoCart/${proId}`,
    method: 'get',
    success: (response) => {
      // alert(response)
     
      let count = $('#cartCount').html()
      count = parseInt(count) + 1
      $('#cartCount').html(count)

      console.log(typeof (count))
      console.log(count, 'countttt')
      alert("llllll")
      toastr.success('Your message was sent successfully!', 'Success', {
timeOut: 3000, // time in milliseconds
progressBar: true, // show a progress bar
closeButton: true // show a close button
});

    }
  })
}

  document.addEventListener('DOMContentLoaded', function() {
var smallImages = document.getElementsByClassName('small-image');
for (var i = 0; i < smallImages.length; i++) {
smallImages[i].addEventListener('click', function() {
var imgSrc = this.getAttribute('data-imgsrc');
var largeImage = document.getElementById('largeImage');
largeImage.src = imgSrc;
new MagicZoom(largeImage);
});
}
});
</script>

<script>
$('input[name="size"]').on('change', function() {
$('label.btn').removeClass('active');
$(this).parent().addClass('active');
});
</script>
